body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    width: 60%;
    padding: 3px 10px;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 800px;
    gap: 20px;
    max-width: 1000px;
}

#menu img {
    display: block;
    width: 200px;
    height: auto;
}
button {
    width: fit-content;
    padding: 5px 30px;
    background: #429958;
    color: white;
    border: none;
    padding: 10px 25px;
}
